snippet bl "block comment"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${1}
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
${0}
endsnippet

snippet plug "vimplug plugin"
Plug '${1}'${2}
endsnippet
