# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias g="git"
alias his="history"
alias j="jobs"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

###############################################################################################
# my own alias
################################################################################################
# set alias for neovim on different platform
alias v='vim'

# Easier source or edit import rc files
alias al="v ~/.aliases"
alias exp="v ~/.exports"
alias zrc="v ~/.zshrc"
alias szrc=". ~/.zshrc"
alias fun="v ~/.functions"
alias i3="v ~/.config/.i3/config"
alias yarnrc="v ~/.yarnrc"
alias npmrc="v ~/.npmrc"
alias snrc="v ~/.simplenoterc"
alias nvpy="v ~/.nvpy.cfg"
alias vrc="v $HOME/.vimrc" 
alias nvrc="v $HOME/.config/nvim/init.vim" 
alias pacr="v $HOME/.pacconfig/user_rule"

# tmux 
# tmux alias stolen from zsh tmux plugin
alias ta='tmux attach -t'
alias ts='tmux new-session -s'
alias tl='tmux list-sessions'
alias tksv='tmux kill-server'
alias tkss='tmux kill-session -t'
# tmux alias defined by myself
alias td="tmux detach"
alias tlc="tmux list-commands"
alias tlk="tmux list-keys"
alias ti="tmux info"
alias stmconf="tmux source-file ~/.tmux.conf"
alias tmconf="v ~/.tmux.conf"

# git
alias g="git"
alias gcfg="v ~/.gitconfig"
alias gcf="git config --list"
alias gcfcs="git config credential.helper store"
alias gdftr="git diff-tree --no-commit-id --name-only -r"
alias gc="git commit"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gcom="git checkout master"
alias gcl="git clone"
alias ga="git add"
alias gaa="git add ."
alias gam="git add -u"
alias gaA="git add -A"
alias gdf="git diff"
alias gdfs="git diff --staged"
alias gdt="git difftool"
alias gs="git status"
alias gm="git merge"
alias gmsf="git merge --squash --no-commit --ff"
alias gmt="git mergetool"
alias gsh="git show"
alias gr="git reset"
alias grh="git reset --hard"
alias grs="git reset --soft"
alias grb="git rebase"
alias grbi="git rebase -i"
alias gl="git log"
alias glg="git log --branches --remotes --tags --graph --decorate --date=short --oneline"
alias gll="git log --oneline"
alias gb="git branch"
alias gba="git branch -a"
alias gbD="git branch -D"
alias gbr="git branch -M"
alias gph="git push"
alias gphf="git push --force"
alias gpl="git pull"
alias gst="git stash"
alias gstp="git stash pop"

# node debug
alias nd="node"
alias ndbg="node-debug -p 8090"
alias nis="node-inspector"
alias dt="devtool"

# docker
# Short for docker-machine
alias dm="docker-machine"
alias dcmp="docker-compose"
alias dk="docker"

# fasd interactive file search, selection an edit with vim
alias vv="sf -e vim"

# npm alias
alias npmls="npm list --depth=0"
alias npmlsg="npm list -g --depth=0"
alias npmi="npm i"
alias npmig="npm i g"
alias npmcfg="npm config set"
alias npmcfd="npm config delete"

# alias for httpie
alias h="http"

# alias for pretty json file
alias python="python3"
alias pip="pip3"
alias pj="python -m json.tool"

# grep

# alias to clear 
alias cl="clear"

# alias to recursively create directory
alias mdp="mkdir -p"

# force tmux to assume the terminal supports 256 colors
alias tmux="tmux -2"

# check which process occupying port
alias ponp="netstat -nlp | grep"

# SFS teamcity login
alias tclogin="java -jar ~/tcc.jar login --host http://teamcity.successfactors.com --user i056958"

# unity control center to open in i3
alias ucc="XDG_CURRENT_DESKTOP=Unity unity-control-center"

# alias to coreutils' gnu ls
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias ls="gls --color=auto"
fi
